 /* Styles généraux */
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Section principale */
main {
    padding: 2rem;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #007BFF;
    display: block;
    width: 70rem;
}

/* Articles */
section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

article {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

article img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

article h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: #333;
}

article p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #666;
}

article a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

article a:hover {
    background-color: #0056b3;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    margin-top: 2rem;
}

/* Responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    article {
        width: 100%;
    }
}